.bx-set-constructor {
  background: var(--card_bg_black);
  padding: 2.6rem 2.6rem;
  margin-bottom: 20px;
}

.bx-modal-small-title {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

.bx-original-item-container {
  text-align: center;
  margin-bottom: 20px;
}
.bx-original-item-container .title-set {
  margin: 0px 0px 5px;
}
.bx-original-item-image + .bx-original-item-text {
  margin-top: 10px;
}

.bx-modal-description {
  font-size: 80%;
  color: #8e8e8e;
}
.bx-added-item-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
}
.bx-added-item-table tr {
  border: 1px solid var(--stroke_black);
}
.bx-added-item-table-cell-itemname,
.bx-added-item-table-cell-img,
.bx-added-item-table-cell-del,
.bx-added-item-table-cell-price {
  padding: 6px 10px;
}
.bx-added-item-table-cell-price {
  width: 150px;
  text-align: right;
}
.bx-added-item-table-cell-img {
  padding-left: 20px;
  width: 74px;
}
.bx-added-item-table-cell-del {
  width: 56px;
  height: 56px;
  text-align: center;
}
.bx-added-item-table-cell-img img {
  display: inline-block;
}
.bx-added-item-table-cell-del {
  text-align: center;
}
.bx-added-item-new-price {
  white-space: nowrap;
}

.bx-added-item-delete {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.bx-item-set-result-block {
  text-align: center;
}

.bx-added-item-old-price {
  padding: 0 0;
  color: #b8b8b8;
  text-decoration: line-through;
  font-size: 11px;
  line-height: 11px;
  white-space: nowrap;
}

.bx-constructor-result-table {
  width: 100%;
}
.bx-constructor-result-table td {
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: bottom;
  background: url("../../../../images/dots.png") 0px 13px repeat-x;
}
.bx-constructor-result-table-title {
  padding-right: 15px;
}
.bx-constructor-result-table-title span {
  background: var(--card_bg_black);
  padding-right: 10px;
}
body .bx-constructor-result-table-value {
  padding-left: 15px;
  background: var(--card_bg_black);
}
.bx-constructor-result-table-value strong {
  white-space: nowrap;
  color: var(--white_text_black);
}

.bx-constructor-result-btn-container {
  text-align: center;
  margin: 10px;
}
@media (max-width: 768px) {
  .bx-constructor-result-btn-container {
    display: inline-block;
    max-width: 140px;
    width: 100%;
    vertical-align: middle;
  }
}
.bx-constructor-result-price {
  display: inline-block;
  max-width: 140px;
  width: 100%;
  text-align: center;
  border: 1px solid #d3d3d3;
  line-height: 1.5;
  padding: 5px 0;
  font-weight: bold;
  border-radius: 2px;
  white-space: nowrap;
  height: 30px;
  box-sizing: border-box;
}
.bx-constructor-result-btn-container .btn {
  display: inline-block;
  max-width: 140px;
  width: 100%;
}

div[data-role="slider-parent-container"] {
  margin: 0px -40px;
}
div[data-role="slider-parent-container"] > div {
  padding: 0px;
}

.bx-catalog-set-topsale-slider {
  border: 1px solid var(--stroke_black);
  position: relative;
  background: var(--darkerblack_bg_black);
  margin-bottom: 20px;
  margin-top: 12px;
}
.bx-catalog-set-topsale-slider:before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  position: absolute;
  left: 50%;
  border-top: 1px solid var(--stroke_black);
  border-left: 1px solid var(--stroke_black);
  background: var(--darkerblack_bg_black);
  transform: rotate(45deg) translateX(-15px) translateY(-8px);
  top: 10px;
}
.bx-catalog-set-topsale-slider-container {
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  padding: 0px 1px;
}
.bx-catalog-set-topsale-slider .bx-catalog-set-item {
  border: 1px solid var(--stroke_black);
  border-radius: 3px;
  margin: 0 -1px;
  background: var(--card_bg_black);
}
.bx-catalog-set-topsale-slider-box {
  position: relative;
  padding: 19px 19px;
}

.bx-catalog-set-topsale-slids {
  display: flex;
  width: 50%;
}
.bx-catalog-set-item-container {
  position: relative;
  min-height: 20px;
  min-width: 150px;
  width: 50%;
}

.bx-catalog-set-item {
  border: 1px solid transparent;
  overflow: hidden;
  border-radius: 3px;
  background: #fff;
  transition: all 300ms ease;
  padding-bottom: 18px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bx-catalog-set-item-notavailable {
  height: 30px;
  background: #dedede;
  display: inline-block;
  padding: 0 15px;
  line-height: 28px;
  vertical-align: middle;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
}

.bx-catalog-set-item-col,
.bx-catalog-set-item-scu,
.bx-catalog-set-item-add-btn,
.bx-catalog-set-item-custom {
  padding: 5px 15px;
}

.bx-catalog-set-item-img {
  position: relative;
  padding-top: 64% !important;
  height: 0;
}
.bx-catalog-set-item-img-container {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  text-align: center;
}
.bx-catalog-set-item-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.bx-catalog-set-item-title {
  line-height: 15px;
  overflow: hidden;
  vertical-align: top;
  padding: 5px 20px;
  position: relative;
  flex-grow: 1;
}
.bx-catalog-set-item-title:after {
  content: "";
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  bottom: 0;
  right: 0;
  left: 0;
  height: 10px;
  position: absolute;
  background: var(--card_bg_black);
  transition: opacity 200ms ease;
}
.bx-catalog-set-item-price {
  text-align: center;
  min-height: 50px;
  padding: 5px 10px 0;
}
.bx-catalog-set-item-col {
  text-align: center;
}
.bx-catalog-set-item-col-minus,
.bx-catalog-set-item-col-plus {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}
.bx-catalog-set-item-col-input {
  display: inline-block;
  width: 25px;
  height: 20px;
  vertical-align: middle;
  font-size: 11px;
}
.bx-catalog-set-item-add-btn {
  text-align: center;
}
.bx-catalog-set-item-custom {
  font-size: 12px;
  color: #b8b8b8;
}
.bx-catalog-set-item-price-new {
  font-weight: bold;
  display: block;
}
.bx-catalog-set-item-price-old {
  display: block;
  padding: 3px 0;
  color: #b8b8b8;
  text-decoration: line-through;
  font-size: 11px;
  line-height: 11px;
}
.bx-catalog-set-topsale-slide {
  display: none;
}
.bx-catalog-set-topsale-slide.bx-active {
  display: block;
}
.bx-catalog-set-topsale-slide-control {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.bx-catalog-set-topsale-slide-control-dot {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #dbdbdb;
}
.bx-catalog-set-topsale-slide-control-dot:hover,
.bx-catalog-set-topsale-slide-control-dot.bx-active {
  background: #1485ce;
}

@media (max-width: 530px) {
  .bx-added-item-table,
  .bx-added-item-table tbody,
  .bx-added-item-table tr,
  .bx-added-item-table-cell-img,
  .bx-added-item-table-cell-itemname,
  .bx-added-item-table-cell-price,
  .bx-added-item-table-cell-del {
    display: block;
  }
  .bx-added-item-table,
  .bx-added-item-table tr,
  .bx-added-item-table-cell-itemname,
  .bx-added-item-table-cell-price,
  .bx-added-item-table-cell-del {
    width: 100%;
  }
  .bx-added-item-table tr {
    padding-top: 10px;
    margin-top: -1px;
    clear: both;
  }
  .bx-added-item-table tr:after {
    content: "";
    display: block;
    clear: both;
  }
  .bx-added-item-table-cell-img {
    float: left;
    border-top: none;
  }
  .bx-added-item-table-cell-itemname {
    border-top: none;
  }
  .bx-added-item-table-cell-price {
    text-align: right;
    border-top: none;
    width: auto;
    float: left;
  }
  .bx-added-item-table-cell-del {
    text-align: right;
    border-top: none;
    float: right;
    width: auto;
  }
  .bx-added-item-table-cell-del .bx-added-item-delete-text {
    color: #d63131;
    cursor: pointer;
    display: inline;
  }
  .bx-catalog-set-topsale-slider-box:after,
  .bx-catalog-set-topsale-slider-box:before {
    width: 2px;
  }
  .bx-catalog-set-item-img,
  .bx-catalog-set-item-custom {
    padding: 10px 5px;
  }
}

.catalog_detail .bx-set-constructor .bx-added-item-new-price,
.bx-catalog-set-item-price-new {
  color: var(--white_text_black);
  font-weight: bold;
}
.catalog_detail .bx-set-constructor .bx-added-item-old-price,
.catalog_detail .bx-set-constructor .bx-catalog-set-item-price-old strong,
.bx-catalog-set-item-price-old {
  color: #999;
  font-weight: normal;
  line-height: 11px;
}

.bx-catalog-set-item-title {
  text-align: center;
}

.bx-constructor-result-btn-container .bx-constructor-result-price {
  border: none;
}

@media (min-width: 768px) {
  .bx-set-constructor .row.result {
    padding-left: 25%;
  }
  .bx-set-constructor .row.result .bx-constructor-result-table {
    margin-left: 8px;
  }
}

.bx-catalog-set-item-add-btn :is(.more_text, .svg-inline-fw) {
  display: none;
}
