.subscribe-edit-footer .licenses_subscribe_footer .filter.licence_block label.error{
  top: 0;
}
.subscribe-edit-footer .footer-form-licence .licence_block.filter input[type="checkbox"] + label{
  margin-top: 0;
}
.subscribe-edit-footer .subscribe-input{
  margin-bottom: 0;
}
